.gallery {
  li {
    list-style: none;
    display: block;
    margin-bottom: 2em;
  }
}

.photo-album {
    text-align: center;
    margin-bottom: 1em;
    height: 200px;
    overflow: hidden;
    
    h2 {
        font-size: 100%;
        line-height: 100%;
        font-weight: bold;
        margin: 10px 0 5px 0;
    }
}