// Bootstrap
@import "../../vendor/jlong/sass-twitter-bootstrap/lib/bootstrap";
// From layout
@import "style";
@import "tables";

// Own customizations
.dc_table_s4 tbody tr:hover {
  background-image: none;
}

.dc_table_s4 tfoot td, .dc_table_s4 tfoot th {
  background-image: none;
}

section table {
  @extend .dc_table_s4;
}

.main__middle__container {
  .container {
    padding-bottom: 25px;
  }
}

.container .row:first-child {
  padding: 30px 0 0 0;
}

.text-center.sz60 {
  font-size: 40px;
  padding: 0;
  margin: 0;
}

.news-intro,
.newsitem {
  p.meta {
    font-style: italic;
  }
}

.row.home {
  .col-md-3 {
    & > h3 {
      padding-top: 0;
      font-size: 22px;
    }

    a {
      color: darken($textcolor, 20%);
      
      &:hover {
        color: $highlight;
      }
    }
  }
}

iframe {
  border: 0;
}

footer {
  padding: 0;
  
  a {
    color: lighten($gray, 10%);
  }
}

// Own special pages
@import "photos";
@import "team";
