$primaryColor:       #2b70b3;
$darkPrimaryColor:   darken($primaryColor, 10%);
$lightPrimaryColor:  lighten($primaryColor, 60%);
$textPrimaryColor:   #FFFFFF;
$accentColor:        #ff9900;
$primaryTextColor:   #212121;
$secondaryTextColor: #727272;
$dividerColor:       #B6B6B6;

// Bootstrap
@import "../../vendor/jlong/sass-twitter-bootstrap/lib/bootstrap";
// From layout
@import "style";
@import "tables";

// Own customizations
.dc_table_s4 tbody tr:hover {
  background-image: none;
}

.dc_table_s4 tfoot td, .dc_table_s4 tfoot th {
  background-image: none;
}

section table {
  @extend .dc_table_s4;
}

.main__middle__container {
  .container {
    padding-bottom: 25px;
    
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

.container .row:first-child {
  padding: 30px 0 0 0;
}

.text-center.sz60 {
  font-size: 40px;
  padding: 0;
  margin: 0;
}

.news-intro,
.newsitem {
  p.meta {
    font-style: italic;
  }
}

.icon-item {
  color: $secondaryTextColor;
  border-bottom: 1px solid $borderColor;
  padding-bottom: 10px;
  margin: 10px 0;

  h4 {
    margin-top: 0;
    margin-bottom: 3px;
    a {
      color: $secondaryTextColor;
      
      &:hover {
        color: $primaryColor;
      }
    }
  }
}

.navbar-default .navbar-nav > li {
  &:hover > a,
  &.open > a,
  &.open > a:hover,
  &.open > a:focus,
  &.active a,
  &.active a:hover,
  &.active a:focus,
  > a:hover,
  > a:focus {
    color: darken($textPrimaryColor, 20%);
    border-bottom: 0;
  }
  
  &.dropdown > a {
    cursor: default;
    
    &:after {
      content: " ▼";
    }
  }

  > a {
    color: $textPrimaryColor;
    border-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    
    &.nav-logo {
      padding-top: 10px;
      padding-bottom: 10px;
  
      img {
        height: 48px;
      }
    }
  }

  ul.dropdown-menu li {
    background-color: transparentize($darkPrimaryColor, 0.1);
    border-bottom-color: darken($darkPrimaryColor, 10%);
    
    > a:hover {
      color: $textPrimaryColor;
    }
  }
}

@media(min-width:767px) {
  .navbar-nav.pull-right>li>.dropdown-menu, 
  .navbar-nav>li>.dropdown-menu.pull-right {
    left: auto !important;
  }
}

@media(max-width:767px) {
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: $textPrimaryColor;
  }

  .dropdown-toggle {
    color: $textPrimaryColor !important;
  }
}


.row.home {
  .col-md-3 {
    & > h3 {
      padding-top: 0;
      font-size: 22px;
    }

    a {
      color: darken($primaryTextColor, 20%);

      &:hover {
        color: $primaryColor;
      }
    }
  }
}

iframe {
  border: 0;
}

footer {
  padding: 0;
  color: $textPrimaryColor;
  
  h3 {
    font-size: 20px;
    padding-bottom: 0;
  }

  a {
    color: darken($textPrimaryColor, 10%);
    
    &:hover {
      color: darken($textPrimaryColor, 20%);
    }
  }

  .container {
    .row:first-child {
      padding-top: 0;
    }
  }
}

.latest-results {
  text-align: center;
  
  h3 {
    padding-top: 0;
    font-size: 22px;
    
    &.next-games {
      margin-top: 25px;
      font-size: 20px;
    }
  }
  
  ol {
    list-style: none;
    padding-left: 0 !important;
  }
  
  .datetime {
    font-size: 90%;
  }
  
  .result {
    font-weight: bold;
  }
}

.result {
  &.win {
    color: green;
  }
  &.lose {
    color: red;
  }
  &.unplayed {
    .score {
      display: none;
    }
  }
}

// Own special pages
@import "photos";
@import "team";
