{% set title = ( record.team_id ? record.team_id ~ ": " ) ~ record.title %}
<li>
    <div class="date">{{ record.date|date("d-m-Y")}}</div>
    <a title="{{ title }}" href="{{ record.link }}">{{ title }}</a>
</li>