<!DOCTYPE html>
<html>
<head>
    <title>Onderhoud</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/layout.css" rel="stylesheet">
</head>
<body style="text-align: center; padding: 20px;">

<img src="/img/logo_clean.png" alt="Give & Go">
<h1>Onderhoud</h1>
<p>Er wordt op dit moment onderhoud gepleegd aan de website. Probeer het over enkele minuten nogmaals.</p>

</body>
</html>