{% extends "page.twig" %}

{% block title_text %}Pagina niet gevonden{% endblock %}
{% block page_title %}Pagina niet gevonden{% endblock %}

{% block page_body %}
    <p>De gevraagde URL "{{ app.request.getRequestUri }}" kon niet gevonden worden.</p>
{% endblock %}