{% extends "page.twig" %}

{% block page_content %}
    <h1>Onze teams</h1>
    <ul>
    {% for record in records %}
        <li><a href="{{ record.link }}" title="{{ record.title }}">{{ record.title }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}
