{% extends "layout/news-list.twig" %}

{% block submenu_title %}<a href="/wedstrijdverslagen" title="Wedstrijdverslagen">Wedstrijdverslagen</a>{% endblock %}

{% block submenu_list %}
    {% setcontent entries = "wedstrijdverslagen/latest/10" %}
    {% for entry in entries %}
        <li class="Menu">
            <a href="{{ entry.link }}" title="{{ entry.title }}">{{ entry.date|date("d-m")}} {{ entry.title }}</a>
        </li>
    {% endfor %}
{% endblock %}
